.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-login-title {
  font-size: 18px;
  color: #009DE3;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-login-foot .login-foot-text {
  font-size: 12px;
  color: #999999;
}
.dec-upm-login-foot .login-link {
  font-size: 12px;
  color: #009DE3;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-login-body .upm-login-button {
  background-color: #009DE3;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-login {
  border: solid 1px #009DE3;
}

