.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plguin-title {
  background-color: #3685f2;
  color: #ffffff;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plugin-installed-foot {
  background-color: #f2f2f2;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-login-title {
  font-size: 18px;
  color: #009DE3;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-login-foot .login-foot-text {
  font-size: 12px;
  color: #999999;
}
.dec-upm-login-foot .login-link {
  font-size: 12px;
  color: #009DE3;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-login-body .upm-login-button {
  background-color: #009DE3;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-login {
  border-color: #009DE3;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plguin-conponents-plugin .bubble-combo-triangle-bottom {
  display: none;
}
.dec-upm-plguin-conponents-plugin .bubble-combo-triangle-top {
  display: none;
}
.dec-upm-plguin-conponents-plugin .bubble-combo-triangle-left {
  display: none;
}
.dec-upm-plguin-conponents-plugin .bubble-combo-triangle-right {
  display: none;
}
.dec-upm-plguin-conponents-plugin.active .plugin-item {
  border-color: #3685f2;
}
.dec-upm-plguin-conponents-plugin .plugin-item:hover {
  border-color: #3685f2;
}
.dec-upm-plguin-conponents-plugin .plugin-version {
  font-size: 12px;
}
.dec-upm-plguin-conponents-plugin .plugin-tooltip-title {
  color: #ffffff;
  background-color: #3685f2;
}
.dec-upm-plguin-conponents-plugin .plugin-tooltip-title .plugin-tooltip-cost {
  color: #ffffff;
  background-color: #e65251;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plguin-installed .upm-installed-title {
  color: #4582ee;
  background-color: #def;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plguin-online .upm-online-title {
  color: #4582ee;
  background-color: #def;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
}
.dec-upm-plguin-online .upm-online-title .version-message {
  font-size: 12px;
}
.dec-upm-plguin-online .upm-online-title .update-message {
  font-size: 12px;
  color: #00BCD4;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plguin-component-loginbutton {
  background-color: #00beff;
  color: #ffffff;
}
.dec-upm-plguin-component-loginbutton .user-button {
  background-color: #00beff;
  border-color: #00beff;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plugin-online-foot {
  background-color: #f2f2f2;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plguin-conponents-progress .progess-content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #d8d8d8;
}
.dec-upm-plguin-conponents-progress .progess-content .progess-block {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #3685f2;
  color: #ffffff;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-content-filter-button:hover {
  background-color: #e2e2e2;
  color: #a9a9a9;
}
.dec-upm-content-filter-button.active {
  background-color: #e2e2e2;
  color: #a9a9a9;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-online-content-filter-search .search-item-title {
  color: #4582ee;
}
.dec-online-content-filter-search .search-item {
  background-color: #6699ee;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dec-online-content-filter-search .search-item:hover {
  background-color: #3685f2;
}

.background-upm-close {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-upm-loading {
  background: url(./img/login_loading.gif) no-repeat center center;
}
.background-plugin-need-update {
  background: url(./img/icon_new.png) no-repeat center center;
}
.background-plugin-cant-use {
  background: url(./img/icon_cantuse.png) no-repeat center center;
}
.background-plugin-is-disable {
  background: url(./img/icon_disable.png) no-repeat center center;
}
.background-plugin-is-disable-new {
  background: url(./img/icon_disable-new.png) no-repeat center center;
}
.background-plugin-selected {
  background: url(./img/icon_marked.png) no-repeat center center;
}
.background-shop-title-close {
  background: url(./img/icon_close40x40_normal.svg) no-repeat center center;
}
.background-dialog-confirm {
  background: url(./img/warning.png) no-repeat center center;
  background-size: contain;
}
.background-close-button {
  background: url(./img/icon_close9x9_normal.png) no-repeat center center;
}
.background-close-button:hover {
  background: url(./img/icon_close9x9_hover.png) no-repeat center center;
}
.dec-upm-plugin-online-content-filter .filter-type-title {
  color: #4582ee;
  background-color: #def;
}

