<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <main-package>com.fr.plugin.html</main-package>
    <id>com.fr.plugin.html.parse</id>
    <name><![CDATA[Html解析]]></name>
    <active>yes</active>
    <version>1.0.2</version>
    <env-version>10.0</env-version>
    <jartime>2020-10-20</jartime>
    <vendor>finereport</vendor>
    <description>
        <![CDATA[用于处理模版中html相关的导出预览逻辑，确保html的显示和导出效果，安装后将优先使用插件中的逻辑来展示及导出html.]]></description>
    <change-notes><![CDATA[
      <p>[2020-10-27]修复border相关属性只指定style值时边框不生效的问题</p>
      <p>[2020-10-22]修复img标签没有定义宽高属性导致word导出时图片过大的问题</p>
      <p>[2020-09-29]解决插件初始化遇到的一系列问题</p>
    ]]></change-notes>
    <function-recorder class="com.fr.plugin.html.parse.HtmlParserImpl"/>
    <extra-report>
        <HtmlParser class="com.fr.plugin.html.parse.HtmlParserImpl"/>
    </extra-report>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.html.locale.LocaleFinder"/>
    </extra-core>
</plugin>